* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #9EBBBE;
}

.mountains-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(/img/Parallax_blue_Larger.png);
    background-repeat: repeat-x;
    align-items: center;
    justify-content: center;
}

.project {
    margin: 0 auto;
    margin-bottom: 20vh;
    margin-top: 10vh;
    width: 70%;
    height: 90vh;
    background-color: #CEE4E6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.project > img {
    transition: transform .75s; /* Animation */
    padding: 2%;
    width: 80%;
}

.project > img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project-information-container {
    width: 95%;
}

.project-description {
    margin-top: 5px;
    margin-bottom: 5px;
}

.learnmore-button {
    background-color: #f0f0f0;
    max-width: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-top: 30px;
}

.learnmore-button a {
    background-color: #f0f0f0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.learnmore-button a:hover {
    color: #ffffff;
    background-color: #9EBBBE;
}

.learnmore-button:hover {
    background-color: #9EBBBE;
    max-width: fit-content;
}

.learnmore-button:hover {
    cursor: pointer;
}

.project-date {
    color: rgb(83, 83, 83);
}

.taggs {
    display: flex;
    flex-direction: row;
}

.taggs p {
    margin-left: 5px;
    color: #5e7072;
}